.navbar {
    padding: 15px;
    border: none;
    background-color: #1e1e1e;
}

.collapse {
    margin-left: 300px;

}

#home {
    color: white;
}



#code {
    margin-left: 80px;
    color: white;
}

#code1 {
    margin-left: 80px;
    color: white;
}

#code1:hover {

    font-size: 20px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff;
}


#Contact>a {
    background-color: white;
    color: black;
    padding: 10px;
    width: 100px;
    border-radius: 20px;
    font-weight: bold;
}

#home:hover {

    font-size: 20px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff;
}

/* @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  } */